<div class="container-fluid">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Select DB</ng-template>
      <mat-nav-list>
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="100%">
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
              <span *ngIf="isExpanded || isShowing">National Database</span>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">add_circle_outline</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu">
              <div id="scroll-area" class="navigation-hold" fxLayout="column">
                <div class="sidenav-hold">
                  <ul class="sidenav" *ngFor="let nb of nationalDatabse">
                    <li>
                      <div (click)="getAllB2bCustomer(); goForward(stepper)" *ngIf="nb.type === 'B2B CUSTOMER DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllB2bMarket(); goForward(stepper)" *ngIf="nb.type === 'B2B MARKET DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllB2cCustomer(); goForward(stepper)" *ngIf="nb.type === 'B2C CUSTOMER DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllB2cMarket(); goForward(stepper)" *ngIf="nb.type === 'B2C MARKET DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllEmployee(); goForward(stepper)" *ngIf="nb.type === 'EMPLOYEE DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllVendor(); goForward(stepper)" *ngIf="nb.type === 'VENDOR DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllAgent(); goForward(stepper)" *ngIf="nb.type === 'AGENT DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllOthers(); goForward(stepper)" *ngIf="nb.type === 'OTHERS DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{nb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="100%">
            <mat-list-item (click)="showInterNational = !showInterNational" class="parent">
              <span *ngIf="isExpanded || isShowing">International Database</span>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showInterNational}" *ngIf="isExpanded || isShowing">add_circle_outline</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showInterNational}" *ngIf="showInterNational">
              <div id="scroll-area" class="navigation-hold" fxLayout="column">
                <div class="sidenav-hold">
                  <ul class="sidenav" *ngFor="let idb of interNationalDatabse">
                    <li>
                      <div (click)="getAllInterB2bcustomer(); goForward(stepper)" *ngIf="idb.type === 'B2B CUSTOMER DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{idb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllInterB2bMarket(); goForward(stepper)" *ngIf="idb.type === 'B2B MARKET DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{idb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllInterB2cCustomer(); goForward(stepper)" *ngIf="idb.type === 'B2C CUSTOMER DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{idb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div (click)="getAllInterB2cMarket(); goForward(stepper)" *ngIf="idb.type === 'B2C MARKET DB'">
                        <a matRipple class="nav-item-sep">
                          <mat-icon>group</mat-icon>
                          <span>{{idb.type}}</span>
                          <span fxFlex></span>
                        </a>
                      </div>
                    </li>


                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-nav-list>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="warn" matStepperNext>
          next
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select Mobile Number</ng-template>
      <div class="text-center mb-5 textHeader">
        <h4>{{textHeader}}</h4>
      </div>
      <div class="container">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         *ngIf="this.dataSource.data?.length > 0">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? masterToggle() : null" [checked]="isAtLeaseOneSelected() && isAllSelected()"
                [indeterminate]="isAtLeaseOneSelected() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? rowToggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- customer Column -->
          <ng-container matColumnDef="customername">
            <th mat-header-cell *matHeaderCellDef> Customer Name </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.customerName}} </td>
          </ng-container>

          <!-- mobilenumber Column -->
          <ng-container matColumnDef="mobilenumber">
            <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.mobileNumber}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.email}} </td>
          </ng-container>

          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.location}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>
        <div *ngIf="dataSource.data?.length === 0">No records found</div>


        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <!-- <div>{{ selection?.selected | json}}</div> -->
      <!-- <ng-template matStepLabel>Mobile Numbers</ng-template>
      <div class="text-center mb-5 textHeader">
        <h4>{{textHeader}}</h4>
      </div>
      <div class=" col-sm-12 d-flex border-dark  flex-row">

        <div class=" col-sm-4 col">
          <strong>MOBILE NUMBER</strong>
        </div>
        <div class="col-sm-4 col">
          <strong>CUSTOMER NAME</strong>
        </div>
        <div class="col-sm-4 col">
          <strong>LOCATION</strong>
        </div>
      </div><br>
      <div class=" col-sm-12 d-flex  flex-row">
        <div class="col-sm-4">
          <mat-checkbox [checked]="selectCheckbox"
           (change)="selectAllMobileNumber($event, dataSource)" class="inbox-toggle-all mr-1"><b>ALL</b>
          </mat-checkbox>
        </div>
      </div>
      <mat-form-field class="margin-333" style="width: 100%">
        <input matInput placeholder="Type to filter all columns" (keyup)='updateFilter($event)'>
      </mat-form-field>

      <div *ngFor="let edit of dataSource; let i = index " class="col-sm-12 d-flex   flex-row">
        <div class=" col-sm-4 col" *ngIf="role.mobilePermission; else noMobile">
          <mat-checkbox  [checked]="selectCheckbox" 
          (change)="selectedMobileNumber($event, edit.mobileNumber)">{{edit.mobileNumber}}
          </mat-checkbox>
        </div>
        <ng-template #noMobile>
          <div class=" col-sm-4 col">
            <mat-checkbox [checked]="selectCheckbox" name="{{edit.mobileNumber}}" value="{{edit.mobileNumber}}"
              (change)="selectedMobileNumber($event, edit.mobileNumber)" class="mail-checkbox">***********</mat-checkbox>
          </div>
        </ng-template>
        <div class="col-sm-4 col">
          {{edit.customerName}}
        </div>
        <div class="col-sm-4 col">
          {{edit.location}}
        </div>
      </div><br>


      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[100, 200, 300, 400, 500]"
        [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
      </mat-paginator>
     
      <div fxLayout="row">
        <div fxFlex="50%">
          <button mat-raised-button color="warn" matStepperPrevious>
            back
          </button>
        </div>-->
        <div fxFlex="50%" fxLayoutAlign="end center">
          <button mat-raised-button color="warn" matStepperNext>
            next
          </button>
        </div>
      </div> 
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Message</ng-template>
      <form [formGroup]="smsDetailsForm">
        <div class="row pageBoxLgSms">
          <div class="col-md-4 border-right">
            <div for="comment" class="textHeader mt-2"><b>Wishes Message</b></div>
            <div *ngFor="let template of newMessage; let i = index">
              <mat-checkbox [checked]="selected === i" (change)="selected = i" (change)="setNameValue($event, template.messageDescription)"
                class="inbox-toggle-all mr-1"><b>{{template.messageTitle}}</b></mat-checkbox>
            </div>
          </div>
          <!-- <div class="col-md-4 border-right">
            <div for="comment" class="textHeader"><b>Payment Reminder</b></div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column">
              <div *ngIf="showBillDetails" class="alert alert-danger">
                <div>Please enter Bill Details</div>
              </div>
              <div *ngIf="showPrimaryNumber" class="alert alert-danger">
                <div>Please enter Mobile Number</div>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <input #billNumber matInput placeholder="Bill No" formControlName="billNo">
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <input #billTotal matInput placeholder="Bill Amount" formControlName="billAmount">
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <input #billDate matInput placeholder="Bill Date" formControlName="billDate">
                </mat-form-field>
              </div>
              <div fxFlex="100">
                <button mat-raised-button (click)="getBillDetails()" color="accent">ADD</button>
              </div>
            </div>
            <div for="comment" class="textHeader"><b>LLR Details</b></div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column">
              <div *ngIf="showLlrDetails" class="alert alert-danger">
                <div>Please enter LLR Details</div>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <input #llrNumber matInput placeholder="LLR Number" formControlName="llrNo">
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <input #dateLlr matInput placeholder="Date" formControlName="dateOfLlr">
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field class="example-full-width">
                  <input #transp matInput placeholder="Transporter" formControlName="transporter">
                </mat-form-field>
              </div>
              <div fxFlex="100">
                <button mat-raised-button mat-button (click)="getLlrDetails()" color="accent" type="button">ADD</button>
              </div>
            </div>
           
          </div> -->
          <div class="col-md-4">
            <label for="comment" class="textHeader"><b>Selected Mobile Number</b></label>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="MobileNumber" formControlName="mobileNumber" required></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Sms Header" formControlName="smsHeader" [maxLength]="7" required>
              <mat-hint class="text-primary">LENCOT</mat-hint>
            </mat-form-field>
            <div *ngIf="smsDetailsForm.controls['smsHeader'].errors && 
            smsDetailsForm.controls['smsHeader'].errors.maxlength"
              class="alert alert-danger">
              SMS Header 6 Letter is
              <strong>required</strong>
            </div>
            <label for="comment" class="textHeader"><b>Text Message</b></label>
            <textarea class="form-control" [maxLength]="158" formControlName="smsBody" rows="4" required>
            </textarea><br>
            <div *ngIf="smsDetailsForm.controls['smsBody'].errors && 
            smsDetailsForm.controls['smsBody'].errors.maxlength"
              maxlength="160" class="alert alert-danger">
              <span class="error-message">Maximum character length is 160</span>
            </div>
            <div *ngIf="smsDetailsForm.controls['smsBody'].errors && 
            smsDetailsForm.controls['smsBody'].errors.minlength"
              class="alert alert-danger">
              <span class="error-message">Minimum character length is 3</span>
            </div>
            <div *ngIf="showMessage" class="alert alert-danger">
              <div>Please enter Message</div>
            </div>
            <div *ngIf="showMobileNumber" class="alert alert-danger">
              <div>Please select Mobile Number</div>
            </div>
            <button mat-raised-button (click)="sendSms(smsDetailsForm)" color="primary">
              SMS sent
            </button>
          </div>
        </div>
        <div class="m-2" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="warn" matStepperPrevious>
            back
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>