<!-- <div class="modal fade show" id="myModal"  [ngClass]="this.confirmAlertBox?.displayClass">
    <div  class="modal-dialog">
      <div  class="modal-content alertModalPosition">
        <div  class="modal-header">
          <h4 class="modal-title">{{confirmAlertBox?.modalHeader}}</h4>
          <button  class="close" data-dismiss="modal"
           (click) ="closeModal()"
            type="button">x</button>
        </div>
        <div  class="modal-body">
         {{confirmAlertBox?.modalBody}}
        </div>
        <div  class="modal-footer">
            <button class="btn btn-danger"
            (click)="deleteMessage()"
              data-dismiss="modal" type="button">YES</button>
          <button class="float-left btn btn-danger"
          (click)="notDeleteMessage()"
            data-dismiss="modal" type="button">NO</button>
        </div>
      </div>
    </div>
  </div>
  -->