<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="textHeader" fxFlex="50%">
      <h3>NATIONAL</h3>
    </div>
    <div class="textHeader" fxFlex="50%">
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxFlex="50%">
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2B CUSTOMER DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="b2bCustomerAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2B MARKET DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="b2bMarketAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2C CUSTOMER DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="b2cCustomerAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2C MARKET DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="b2cMarketAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            EMPLOYEE DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="employeeAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            VENDOR DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="vendorAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            AGENT DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="agentAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2" fxLayout="row">
          <div class="content" fxFlex="75%">
            OTHERS DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="othersAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="textHeader" fxFlex="50%">
      <h3>INTERNATIONAL</h3>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxFlex="50%">
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2B CUSTOMER DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="interB2bCustomerAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2B MARKET DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="interB2bMarketAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2C CUSTOMER DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="interB2cCustomerAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
        <div class="mb-2 border-bottom" fxLayout="row">
          <div class="content" fxFlex="75%">
            B2C MARKET DB
          </div>
          <div fxFlex="25%">
            <button mat-mini-fab color="warn" (click)="interB2cMarketAsXLSX()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>