<!-- <div class="modal fade show" id="myModal" [ngClass]="this.alertBox?.displayClass">
  <div class="modal-dialog">
    <div class="modal-content alertModalPosition">
      <div class="modal-header">
        <h4 class="modal-title">{{alertBox?.modalHeader}}</h4>
        <button class="close" data-dismiss="modal" (click)="closeModal()" type="button">x</button>
      </div>
      <div class="modal-body">
        {{alertBox?.modalBody}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="closeModal()" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div> -->